<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert <%= name == 'alert' ? 'danger' : 'success' %>">
          <div class="eleven columns"><%= msg %></div>
          <div class="text-right">
            <a class="toggle" gumby-trigger=".alert" href="#"><i class="icon-cancel"></i></a>
          </div>
        </div>
    <% end %>
<% end %>